<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Nosfy.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>83</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4DE788D63E538A9CF95D2C4EEA44B8D98400410B</string>
				<key>dateExpires</key>
				<string>18/09/2027</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>83</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4DE788D63E538A9CF95D2C4EEA44B8D98400410B</string>
						<key>dateExpires</key>
						<string>18/09/2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>V45F4LUU8D.fr.kathryn.woop.WoopWidgets</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>V45F4LUU8D</string>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>NosfyWidgets.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>4f29d029-56ba-434f-8d6f-53e8e109f67c</string>
						<key>dateExpires</key>
						<string>18/09/2027</string>
						<key>name</key>
						<string>iOS Team Store Provisioning Profile: fr.kathryn.woop.WoopWidgets</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V45F4LUU8D</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>V45F4LUU8D.fr.kathryn.woop</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>V45F4LUU8D</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Nosfy.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>86e2b9a2-c869-4bd1-aa4f-a38c6a70ae8f</string>
				<key>dateExpires</key>
				<string>18/09/2027</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: fr.kathryn.woop</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>V45F4LUU8D</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
